#reset-password-form{
    margin: 50px 0;
    input[type="email"],
    input[type="text"],
    input[type="input"],{    
        border: 1px solid #a6d477;
		line-height: 48px;
		width: 100%;
		display: block;
		background: transparent;
		padding: 0 25px;
        color: $primary;
        box-shadow: none !important;

        &:focus{
            border-color: darken($color: #a6d477, $amount: 25);
        }
    }

    label.error{
        display: none;
        margin-top: .25rem;
        font-size: 80%;
        color: $form-feedback-invalid-color;
        font-weight: bold;
    }

    .btn-link{
        font-size: 80%;
        line-height: 1.6;
    }
}