@import "variables.scss";
@import "mixins.scss";
@import "global.scss";
@import "utilities.scss";
@import "navbar.scss";
@import "cards.scss";
@import "login.scss";
@import "footer.scss";


.swal-footer {
    margin-top: 32px;
    border-top: 1px solid #E9EEF1;
    overflow: hidden;
    text-align: center;
}